html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
  background-color: #F0F2F5;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #aaa;
  letter-spacing: -0.0175em;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #000;
}

.person {
  color: #7c7f84;
}

.person__name {
  margin: 0;
  padding: 0 0 12px;
  font-weight: 500;
  font-size: 30px;
  margin-left: -0.5px;
}

.person__title {
  font-weight: 500;
  margin: 0 0 40px;
  padding: 0;
}

.introduction {
  margin: 0 0 25px;
  padding: 0;
}

.wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0px;
}

.card {
  display: flex;
  position: relative;
  max-width: 500px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;

  text-align: left;
  background-color: #FFFFFF;
  box-shadow: 0rem 20px 30px 0rem rgba(40, 25, 86, 0.075);

  animation: enter-to-building 0.25s linear 0s;
  animation-fill-mode: forwards;
}

.image, .image img {
  display: inline-block;
  width: 100%;
}

.image img {
  display: block;
  min-width: 100%;
}

.container {
  padding: 35px;
}

.micro-interaction {
  display: inline-block;
  white-space: nowrap;
}

.micro-interaction:hover {
  animation: micro-interaction 2.5s linear 0s infinite;
}


.share {
  margin-left: -15px;
}
.share a {
  display: inline-block;
  margin-right: 0px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: background 0.1s linear, color 0.1s linear;
  color: #7c7f84;

  opacity: 0;
  transform: translate3d(10px, 0, 0);

  animation-name: show-link;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}


.share a:nth-child(1) { animation-delay: 0.4s; }
.share a:nth-child(2) { animation-delay: 0.6s; }
.share a:nth-child(3) { animation-delay: 0.8s; }
.share a:nth-child(4) { animation-delay: 1.0s; }
.share a:nth-child(5) { animation-delay: 1.2s; }
.share a:nth-child(6) { animation-delay: 1.4s; }

.share a:hover {
  color: #000;
}

.share a:active {
  background: #fafafa;
  color: #000;
}

@keyframes enter-to-building {
  from { opacity: 0; transform: scale(1.05); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes micro-interaction {
  0% { transform: skewX(0); }
  2% { transform: skewX(-19deg); }
  4% { transform: skewX(0); }
  6% { transform: skewX(-19deg); }
  8% { transform: skewX(0); }
  100% { transform: skewX(0); }
}


@keyframes show-link {
  from { opacity: 0; transform: translate3d(10px, 0, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0); }
}


@media (max-width: 768px) {
  .wrapper {
    padding: 0;
  }

  .card {
    box-shadow: none;
    width: 100%;
  }

  .container {
    padding: 30px 25px;
  }
}